<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SCHEDULE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<div>
    <div>
        <form  th:action="@{/processCheckBox}" th:object="${scheduledDays}" method="post">
            <div class="container">
                <select th:field="*{guildName}">
                    <option th:each="guildName: ${allGuilds}" th:text="${guildName}" th:value="${guildName}"> </option>
                </select>
                <input type="text" th:field="*{time}" placeholder="hh:mm 24 hour clock" required>
                <h5>Schedule your meeting here</h5>
                <p th:each="day : ${allWeekDays}">
                    <input type="checkbox" th:field="*{workingWeekDays}" th:value="${day.weekDayValue}">
                    <label th:text="${day.weekDay}"></label>
                </p>

                <button type="submit">Save</button>
            </div>
        </form>
    </div>

</div>